numpy
loguru
tqdm
accelerate
transformers>=4.37.0
safetensors
requests
opencv-python
diffusers
pyyaml
einops
omegaconf
packaging
pytorch-lightning
descript-audio-codec
scipy
soxr
ffmpy
audiocraft
descript-audio-codec
