numpy
loguru
tqdm
accelerate
transformers>=4.37.0
safetensors
requests
opencv-python
diffusers
pyyaml
einops
omegaconf
packaging
pytorch-lightning
descript-audio-codec
scipy
soxr
ffmpy
git+https://github.com/facebookresearch/audiocraft.git#egg=audiocraft
git+https://github.com/descriptinc/descript-audio-codec.git#egg=descript-audio-codec
